<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseHealth</key>
	<integer>100</integer>
	<key>baseStartingMoney</key>
	<integer>200</integer>
	<key>baseMoneyRegen</key>
	<integer>5</integer>
	<key>baseMoneyRegenRate</key>
	<real>5</real>
	<key>baseMoneyDropped</key>
	<integer>8</integer>
	<key>baseTowerCostPercentage</key>
	<integer>1</integer>
	<key>PoisonousStone</key>
	<dict>
		<key>basePoisonousStoneCost</key>
		<integer>50</integer>
		<key>basePoisonousStoneDamage</key>
		<integer>2</integer>
		<key>basePoisonousStoneDamageRandom</key>
		<integer>5</integer>
		<key>basePoisonousStoneFireRate</key>
		<real>0.25</real>
		<key>basePoisonousStoneRange</key>
		<integer>100</integer>
	</dict>
	<key>ManaGatheringStone</key>
	<dict>
		<key>baseManaGatheringStoneCost</key>
		<integer>70</integer>
		<key>baseManaGatheringStoneDamage</key>
		<integer>0</integer>
		<key>baseManaGatheringStoneDamageRandom</key>
		<integer>5</integer>
		<key>baseManaGatheringStoneFireRate</key>
		<real>6</real>
		<key>baseManaGatheringStoneFreezeDur</key>
		<real>1.5</real>
		<key>baseManaGatheringStoneRange</key>
		<integer>100</integer>
	</dict>
	<key>ShockingStone</key>
	<dict>
		<key>baseShockingStoneCost</key>
		<integer>120</integer>
		<key>baseShockingStoneDamage</key>
		<integer>20</integer>
		<key>baseShockingStoneDamageRandom</key>
		<integer>20</integer>
		<key>baseShockingStoneFireRate</key>
		<real>10</real>
		<key>baseShockingStoneSplashDist</key>
		<integer>75</integer>
		<key>baseShockingStoneRange</key>
		<integer>100</integer>
	</dict>
	<key>RedCreep</key>
	<dict>
		<key>baseRedCreepHealth</key>
		<integer>100</integer>
		<key>baseRedCreepMoveDur</key>
		<real>0.3</real>
	</dict>
	<key>GreenCreep</key>
	<dict>
		<key>baseGreenCreepHealth</key>
		<integer>150</integer>
		<key>baseGreenCreepMoveDur</key>
		<real>1.5</real>
	</dict>
	<key>BrownCreep</key>
	<dict>
		<key>baseBrownCreepHealth</key>
		<integer>500</integer>
		<key>baseBrownCreepMoveDur</key>
		<real>10</real>
	</dict>
</dict>
</plist>
