<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FastCreep</key>
	<dict>
		<key>health</key>
		<integer>100</integer>
		<key>moveDuration</key>
		<real>0.3</real>
	</dict>
	<key>GreenCreep</key>
	<dict>
		<key>health</key>
		<integer>150</integer>
		<key>moveDuration</key>
		<real>1.5</real>
	</dict>
	<key>BrownCreep</key>
	<dict>
		<key>health</key>
		<integer>500</integer>
		<key>moveDuration</key>
		<real>10</real>
	</dict>
</dict>
</plist>
